.image1{
margin-left:150px;
margin-right:100x;
}
   .video1{

   margin-top:10px;
   }
   .image2{
    margin-left:200px;
    margin-right:100px;
    margin-bottom:50px;
    padding: 10px;20px;

}
.image3{
    margin-left:280px;
    margin-right:100px;
    margin-bottom:50px;
}
.image4{
    margin-left:320px;
    margin-right:100px;
    margin-bottom:50px;
}
.image5{
    margin-left:580px;
    margin-right:100px;
}
   
.table1{
    border-color: red;
    width: 250px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:700px;
    height:100px;
}
   .video1{
    margin-left:350px;
   }
   .Impact{
    margin-left:270px;
   }